<h2> Your laundry Dashboard </h2>

<ul>
  <li> <a href="/launderers"> Find a Launderer </a> </li>
  <li> <a href="/logout"> Log Out </a> </li>
</ul>

{{#if successMessage}}
<p style="color: #4caf50;">{{successMessage}}</p>
{{/if}}

{{#if user.isLaunderer}}
<h3> You're a launderer! </h3>

<form action="/launderers" method="post">
  <div>
    <label for="fee-input"> Fee </label>
    <input type="number" name="fee" id="fee-input" value="{{user.fee}}">
  </div>

  <button> Change your fee </button>
</form>
{{else}}
<h3> Want to become a launderer? </h3>

<form action="/launderers" method="post">
  <div>
    <label for="fee-input"> Set your fee </label>
    <input type="number" name="fee" id="fee-input" value="{{user.fee}}">
  </div>

  <button> Become a launderer </button>
</form>
{{/if}}